@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{

    var currentModel = Model;

    var image = (IPublishedContent)currentModel.GetProperty("bannerImage").GetValue();
    
}

 <div class="jumbotron jumbotron-fluid mb-5" style="background:url(@image?.Url())">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">@currentModel.GetProperty("bannerTitle1").GetValue()</h1>
            <h1 class="text-white display-3 mb-5">@currentModel.GetProperty("bannerTitle2").GetValue()</h1>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Tracking Id">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-3">@currentModel.GetProperty("bannerSurchTitle").GetValue()</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
 